.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  height: calc(100vh - 100px);
}

.textContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.h3{
  color: rgb(86, 143, 188);
  font-size: 22px;
}

.title {
  font-size: 70px;
  line-height: 100%;
}

.desc {
  font-size: 17px;
  text-align: justify;
}

.desc::first-letter{
  margin-left: 30px;
}

.buttons {
  display: flex;
  gap: 20px;
}

.statsNumber {
  display: flex;
  justify-content: space-between;
  color: rgb(86, 143, 188);
  font-size: 26px;
  font-weight: 700;
}

.statsText{
  display: flex;
  justify-content: space-between;
  color: gray;
  font-size: 14px;
}

.statsContainer{
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-top: 20px;
}

.imageContainer {
  flex: 1;
  position: relative;
  width: 100%;
  height: 100%;
}

.aboutImg{
  object-fit: contain;
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column-reverse;
    gap: 50px;
  }

  .statsText{
    font-size: 11px;
  }
  .statsNumber{
    font-size: 24px;
  }
}
