.container {
  display: flex;
  align-items: center;
  gap: 80px;
}

.imgContainer {
  flex: 1;
  height: 500px;
  position: relative;
}

.img {
  object-fit: contain;
}

.formContainer {
  flex: 1;

}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}

.form input,
.form textarea {
  padding: 20px;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: var(--bgSoft);
  color: var(--text);
  background-color: rgb(33, 53, 65);
}

.form input::placeholder,
.form textarea::placeholder {
  color:rgb(130, 117, 117);
  font-weight: 600;
  font-size: 12px;
}

.form button {
  padding: 20px;
  background-color: var(--btn);
  color: var(--text);
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
}